@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";


@font-face {
  font-family: 'Old London';
  src: url('/fonts/OldLondon.ttf') format('truetype');
}

@font-face {
  font-family: 'Network';
  src: url('/fonts/NetworkFreeVersion.ttf') format('truetype');
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  --color-primary: #F1EFE2;
  --color-secondary: #616161;
  --color-accent: #FFD439;
  --color-background: #1E1E1E;

  /*Typografi */
  --font-display: 'Old London', serif;
  --font-copy: 'Almendra', serif;
  --font-flavour: 'Network', sans-serif;

  --animate-wiggle: wiggle 2s ease-in-out infinite;  
  @keyframes wiggle {   
  0%,    
  100% {      
    transform: rotate(-3deg);    
  }    
  50% 
  {      
    transform: rotate(3deg);   
   }  
  }

  --animate-soundwave: soundwave 4s linear infinite;
  @keyframes soundwave {
    from {
      transform: translateX(0px)
    }
    to {
      transform: translateX(-100%)
    }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  
}

@layer components{

}
@layer utilities{
  
}