---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import Herocarousel from "../components/Herocarousel.astro";
import Ig from "/public/ig.svg";
import Disc from "/public/discord.svg";
import Yt from "/public/yt.svg";
import Sc from "/public/soundcloud.svg";
import Audio from "/public/waveform.svg";
import Someicon from "../components/Someicon.astro";
---

<MainLayout title="Christian D">
  <main class="container mx-auto pb-8 pt-8 lg:pt-20">
    <section id="hero" class="mt-24 mb-28 relative w-full h-auto grid grid-cols-1 lg:w-190 lg:m-auto">
      <div class="col-start-1 row-start-1 p-0 m-0 overflow-hidden z-0">
        <Herocarousel />
      </div>
      <div class="col-start-1 row-start-1 p-0 m-0 lg:place-content-center z-10">
        <div class="w-80 h-60 text-center m-auto grid grid-cols-6 grid-rows-3 lg:grid-cols-12 lg:w-120">
          <div class="static m-auto col-start-1 col-span-2 grid grid-cols-1 -mb-4 lg:col-start-1 lg:col-span-2 lg:row-start-2 lg:mb-0.5">
            <h1 class="font-display text-6xl text-secondary col-start-1 row-start-1 lg:text-7xl">art</h1>
            <h3 class="font-flavour text-accent font-bold text-2xl col-start-1 row-start-1 pt-3 lg:text-3xl lg:mt-3">X</h3>
            <h2 class="font-flavour text-accent font-bold text-2xl col-start-1 row-start-1 -mt-3 -ml-6 -rotate-15 lg:text-3xl lg:-mt-2">visuals</h2>
          </div>
          <h1 class="font-display text-6xl text-primary col-span-6 col-start-1 row-start-2 m-auto lg:col-start-3 lg:col-span-8 lg:text-7xl">inspired by</h1>
          <div class="static m-auto col-start-5 col-span-2 row-start-3 grid grid-cols-1 -mt-4 lg:col-start-11 lg:col-span-2 lg:row-start-2 lg:mt-1">
            <h1 class="font-display text-6xl text-secondary col-start-1 row-start-1 lg:text-7xl">art</h1>
            <h3 class="font-flavour text-accent font-bold text-2xl col-start-1 row-start-1 pt-3 lg:text-3xl lg:mt-4">X</h3>
            <h2 class="font-flavour text-accent font-bold text-2xl col-start-1 row-start-1 mt-11 rotate-8 lg:text-3xl lg:mt-16">music</h2>
          </div>
        </div>
      </div>
    </section>
    <div id="underhero" class="p-6 mt-28">
      <section id="about" class="mb-28 static lg:grid lg:grid-cols-2">
        <div class="w-60 h-auto m-auto rotate-2 lg:col-start-2 lg:row-start-1 lg:w-75"><img src="../../public/mig.jpg" alt="billede af mig" /></div>
        <article class="w-82 m-auto lg:col-start-1 lg:row-start-1 lg:pt-4 lg:w-110">
          <Heading htmlheading="h2" size="large" font="display" pos="center lg:left">Lær mig at kende</Heading>
          <Text teksttype="brødtekst">Hej, mit navn er <span class="text-accent">Christian</span>, rart at møde dig!</Text>

          <div class="grid grid-cols-1">
            <div class="w-70 h-auto col-start-1 row-start-1 mt-28 ml-16 animate-wiggle lg:mt-15 lg:ml-45">
              <img src="/vinyl.svg" alt="vinyl" />
            </div>
            <div class="col-start-1 row-start-1">
              <Text>
                Jeg er studerende på Erhvervsakademi København (EK) og er i gang med mit 3. semester som multimediedesigner. Jeg har altid haft en passion for <span class="text-accent">design og musik</span>, og jeg finder ofte migselv lave et design
                inspireret af noget musik jeg lytter til, eller omvendt, producerer noget musik efter en visuel æstetik.
              </Text>
            </div>
          </div>
        </article>
      </section>
      <section id="SoMe" class="mt-28 mb-28">
        <Heading htmlheading="h2" size="large" font="display" pos="center">Find mig her</Heading>
        <article class="w-80 m-auto mt-8 flex justify-between">
          <a href="https://www.instagram.com/kruzader_/" target="blank" class="place-content-center rotate-2">
            <Someicon>
              <Ig />
            </Someicon>
          </a>
          <div class="place-content-center -rotate-2">
            <Someicon>
              <Disc />
            </Someicon>
          </div>
          <a href="https://www.youtube.com/@imKruzader" target="blank" class="place-content-center rotate-2">
            <Someicon>
              <Yt />
            </Someicon>
          </a>
          <a href="https://soundcloud.com/prodbykruz" target="blank" class="place-content-center -rotate-2">
            <Someicon>
              <Sc />
            </Someicon>
          </a>
        </article>
      </section>

      <div id="detailscontainer" class="lg:grid lg:grid-cols-2 lg:mb-28">
        <section class="w-82 m-auto mb-28 lg:col-start-1 lg:row-start-1 lg:m-auto lg:w-104">
          <article class="flex gap-4">
            <Audio width={64} height={64} />
            <div class="place-content-center"><Heading htmlheading="h2" size="large" font="display" pos="left">Mit <span class="text-accent">Design</span></Heading></div>
          </article>
          <div>
            <Text>
              Mit design udmærker sig ved ofte at gå hånd i hånd med musisk indflydelse. Om det er et stykke musik der inspirere et visuelt design eller et kunstværk der der sætter tonen for en musisk idé, så sørger jeg for at de følelser også træder
              frem i mit design.
            </Text>

            <Text>Når jeg arbejder med et design og fordyber mig ind i researchen, bruger jeg musik til at sætte mig ind i værdierne og følelserne jeg gerne vil have mit design til at kommunikere.</Text>
          </div>
        </section>
        <section class="w-82 m-auto mb-28 lg:col-start-2 lg:row-start-1 lg:m-auto lg:mt-0">
          <article class="flex gap-4">
            <div class="place-content-center"><Heading htmlheading="h2" size="large" font="display" pos="left">Min <span class="text-accent">Erfaring</span></Heading></div>
            <div class="rotate-180"><Audio width={64} height={64} /></div>
          </article>
          <div>
            <ul>
              <li><Text>Grafisk design</Text></li>
              <li><Text>Projekt styring</Text></li>
              <li><Text>UX/UI</Text></li>
              <li><Text>Musik produktion</Text></li>
              <li><Text>En ret cool gut</Text></li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </main>
</MainLayout>
